[submodule ".local/share/nvim/site/pack/vendor/start/vim-fugitive"]
	path = .local/share/nvim/site/pack/vendor/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/vendor/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/vendor/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule ".local/share/nvim/site/pack/vendor/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/vendor/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule ".local/share/nvim/site/pack/vendor/start/telescope-fzf-native.nvim"]
	path = .local/share/nvim/site/pack/vendor/start/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim.git
[submodule ".local/share/nvim/site/pack/vendor/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/vendor/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/vendor/start/vim-go"]
	path = .local/share/nvim/site/pack/vendor/start/vim-go
	url = git@github.com:fatih/vim-go.git
